@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

.logo {
  color: $actionColor;
  font-size: large;
  font-weight: 600;
}

.nav-container {
  width: 100%;
  padding: 1rem;
  background-color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-container {
    padding: 0.5rem 1rem;
    border: 1px solid $borderColor;
    border-radius: 20px;
    width: 40%;
    display: flex;
    align-items: center;

    input {
      border: none;
      outline: none;
      margin-left: 0.5rem;
    }
    .icon {
      color: grey;
    }
  }

  button {
    @include defaultBtn;
  }
}

.item {
  position: relative;
  width: 100%;
  min-width: 250px;
  height: auto;
  background-color: $secondaryColor;
  margin-right: 2rem;
  border-radius: 5px;
  box-shadow: 0px 8px 24px rgba(215, 214, 214, 0.61);
  scroll-snap-align: center;

  .bookmark {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: $secondaryColor;
    color: $actionColor;
    font-weight: 600;
    padding: 0.3rem 0.4rem 0rem 0.4rem;
    border-radius: 50%;
  }

  img {
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .content {
    padding: 0.5rem;

    small {
      color: grey;
      font-size: 10px;
    }
    strong {
      display: block;
      font-size: 20px;
    }
    section {
      // position: absolute;
      margin-top: 1rem;
      bottom: 0.5rem;
      width: 100%;
      @include flexBetween();

      .user {
        display: flex;
        align-items: center;

        img {
          border-radius: 50%;
          object-fit: cover;
          margin-right: 0.3rem;
        }
      }

      button {
        @include defaultBtn($f-size: 12px);
        padding: 0.3rem 0.5rem;
      }
    }
  }
}

.bg-img {
  @include backgroundImg;
}

.banner-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  .banner {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../../public/images/headphones.jpg);
    border-radius: 10px;
    padding: 0.5rem;
    @include backgroundImg;

    .sponsored-text {
      display: table;
      color: $secondaryColor;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      padding: 0.3rem;
      font-size: small;
      font-weight: 600;
    }

    .main-content {
      @include gridCenter;
      margin-top: 5rem;
      height: 150px;
      flex-wrap: wrap;

      p {
        font-size: 60px;
        font-weight: 800;
        color: $secondaryColor;
      }
      button {
        @include defaultBtn($f-size: 20px);
        padding: 0.5rem 1rem;
      }
    }
  }
}

.featured-container {
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: auto;
  background-color: $primaryColor;

  h1 {
    color: $actionColor;
    border-bottom: 3px solid $actionColor;
    width: 5px;
    display: table;
  }
  .featured-item-container {
    margin-top: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}
