@import "./variables.scss";

@media screen and (max-width: 1150px) {
  .new-container {
    .items-container {
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
    }
  }
}

@media screen and (max-width: 873px) {
  .new-container {
    .items-container {
      grid-template-columns: 1fr 1fr;
      place-items: center;

      .item {
        margin: 1rem;
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .back-nav {
    padding: 1rem 0;
    button {
      width: 50px;
      .icon {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
  .items-page-container {
    .items-page-layout {
      display: block;
      padding: 0.5rem;

      img {
        max-height: 300px;
        border-radius: 15px;
        object-fit: cover;
      }
      .r-layout {
        width: 95%;
        margin-left: 0;
        margin: 0 auto;

        .name {
          margin: 1rem 0;
          margin-bottom: 0.5rem;
          p {
            font-size: 25px;
            margin-right: 0.5rem;
          }
          .icon {
            font-size: 25px;
          }
        }
      }
    }
  }
  .new-container {
    padding: 1rem 0.3rem;
    h1 {
      font-size: 20px;
    }
    .items-container {
      grid-template-columns: 1fr 1fr;
      place-items: center;

      .item {
        margin: 0.3rem;
        width: 200px;
      }
    }
  }
}
@media screen and (max-width: 534px) {
  .new-container {
    .items-container {
      .item {
        margin: 0.3rem;
        width: 200px;
        min-width: 150px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .nav-container {
    height: 50px;
    .logo {
      .logo-img {
        width: 150px;
        margin-top: 0.5rem;
      }
    }
    .search-container {
      width: 140px;
      padding: 0.3rem;
      border-radius: 5px;
      input {
        width: 100%;
        font-size: 10px;
      }
      .icon {
        font-size: 10px;
      }
    }
    button {
      @include defaultBtn($f-size: 12px);
    }
  }

  .banner-container {
    .banner {
      height: 220px;
      .sponsored-text {
        font-size: 10px;
      }
      .main-content {
        margin-top: 1rem;
        height: 100px;
        p {
          font-size: 25px;
          text-align: center;
          margin-bottom: 1rem;
        }
        button {
          @include defaultBtn($f-size: 14px);
        }
      }
      .dots-container {
        .dot {
          width: 7px;
          height: 7px;
          margin-top: 2.5rem;
        }
      }
    }
  }

  .banner2 {
    .card-container {
      .why-card {
        max-width: 300px;
        min-width: 300px;
        margin: 0 0.5rem;
      }
    }
  }

  .featured-container {
    margin-top: 0;
    h1 {
      font-size: 20px;
    }
  }

  .new-container {
    .btn-container {
      margin-top: 1rem;
      button {
        font-size: 12px;
      }
    }
    .items-container {
      .item {
        margin: 0.3rem 0.3rem;
        width: 180px;
        min-width: 150px;

        small {
          font-size: 8px;
        }
        strong {
          font-size: 12px;
        }
        button {
          font-size: 8px;
        }
      }
    }
  }

  .banner2 {
    h1 {
      font-size: 20px;
    }
  }

  .faqs {
    h1 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 390px) {
  .banner2 {
    .card-container {
      margin-top: 2rem;

      .why-card {
        max-width: 280px;
        min-width: 280px;
        font-size: 12px;

        p {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 385px) {
  .new-container {
    .items-container {
      .item {
        margin: 1rem 0.3rem;
        width: 170px;
        min-width: 150px;
      }
    }
  }
}
@media screen and (max-width: 365px) {
  .new-container {
    .items-container {
      .item {
        margin: 1rem 0.3rem;
        width: 150px;
        min-width: 150px;
      }
    }
  }
}
