// Fonts
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
$primaryFont: poppins;

// Colors
$primaryColor: #fee7b9;
$secondaryColor: #ffffff;
$darkColor: #0b0b0b;
$actionColor: #ce3a20;
$borderColor: #cbcbcb;

// Mixins
@mixin backgroundImg() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin gridCenter() {
  display: grid;
  place-items: center;
}
@mixin defaultBtn(
  $color: $secondaryColor,
  $bg: $actionColor,
  $b-rad: 5px,
  $f-size: 16px,
  $f-weight: 600
) {
  color: $color;
  background-color: $bg;
  font-weight: $f-weight;
  border: none;
  outline: none;
  font-size: $f-size;
  border-radius: $b-rad;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
}

@mixin transparentBtn() {
  background-color: transparent;
  border: none;
  outline: none;
}
